#root {
  max-width: 1280px;
  margin: 20px auto;
  padding: 2rem;
  text-align: left;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: start;
  align-items: start;
  background-color: black;
  color: white;
}